<header class="header">
  <div class="container">
  <nav class="nav">
    <a class="nav-logo" href="./index.html" aria-label="Site logo">
      <img src="../img/tv.png" alt="logo" />
      <p class="nav-logo-text">MovieBox</p>
    </a>
    <form class="header-form">
      <input
        name="headerSearch"
        type="text"
        class="nav-search"
        placeholder="What do you want to watch?"
        required
      />
      <button class="header-btn" type="submit">
        <svg class="header-icon" width="16" height="16">
          <use href="../img/sprite.svg#Search"></use>
        </svg>
      </button>
    </form>
    <button class="header-sign-btn">Sign in</button>
    <button class="header-menu-btn">
       <svg  width="36" height="36">
          <use href="../img/sprite.svg#Menu"></use>
    </button>
  </nav>
  </div>
</header>