<div class="modal-overlay">
  <div class="modal">
    <button class="modal-close-btn" type="button"></button>
    <form class="modal-form" name="signInForm">
      <label for="username"
        >Username
        <input
          type="text"
          id="username"
          name="username"
          required
          placeholder="Enter your username"
        />
      </label>
      <label for="password"
        >Password
        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="Enter your password"
        />
      </label>
      <button type="submit">Sign In</button>
    </form>
  </div>
</div>
