.user-movies {
  display: block;
  padding: 70px 0 70px 0;
  &.hiden {
    display: none;
  }
}

.user-movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}
.user-movies-item {
  width: calc((100% - 3 * 80px) / 4);
  transition: transform 0.3s ease-in;
}
.user-movies-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.user-movies-btn {
  margin-bottom: 44px;
  border-radius: 6px;
  padding: 6px 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  text-transform: uppercase;
  color: white;
  background-color: #be123c;
  width: fit-content;
  border: none;
}
